.About {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-size: clamp(0.9em, 1.3vw, 1.6em);
  height: 100vh;
  background-color: rgb(235, 235, 229);

  .image {
    width: 100%;
    height: 80vmin;
    margin-bottom: 1rem;
    // background: url("../assets/images/airport-min1.jpg") center 40%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center center;
    border-radius: 0.6rem;
    @media (min-width: 568px) {
      height: 50vmin;
      margin-bottom: 1.5rem;
    }

    // img {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    // border-radius: 0.6rem;
    // }
  }
  .description {
    // padding: 4%;
    // margin: 0 20em;
    margin-left: clamp(1.5em, 1.3vw, 2em);
    margin-right: clamp(1.5em, 1.3vw, 2em);
    text-align: center;
    color: #283966;
  }

  .wave {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 71.4%,
      1% 71.26%,
      2% 70.85%,
      3% 70.17%,
      4% 69.24%,
      5% 68.09%,
      6% 66.75%,
      7% 65.23%,
      8% 63.59%,
      9% 61.87%,
      10% 60.09%,
      11% 58.32%,
      12% 56.59%,
      13% 54.93%,
      14% 53.41%,
      15% 52.04%,
      16% 50.87%,
      17% 49.92%,
      18% 49.21%,
      19% 48.77%,
      20% 48.6%,
      21% 48.71%,
      22% 49.1%,
      23% 49.75%,
      24% 50.65%,
      25% 51.77%,
      26% 53.1%,
      27% 54.6%,
      28% 56.23%,
      29% 57.95%,
      30% 59.72%,
      31% 61.49%,
      32% 63.23%,
      33% 64.9%,
      34% 66.44%,
      35% 67.82%,
      36% 69.02%,
      37% 69.99%,
      38% 70.73%,
      39% 71.2%,
      40% 71.39%,
      41% 71.31%,
      42% 70.96%,
      43% 70.34%,
      44% 69.46%,
      45% 68.36%,
      46% 67.05%,
      47% 65.57%,
      48% 63.95%,
      49% 62.24%,
      50% 60.47%,
      51% 58.69%,
      52% 56.95%,
      53% 55.28%,
      54% 53.72%,
      55% 52.32%,
      56% 51.1%,
      57% 50.1%,
      58% 49.34%,
      59% 48.84%,
      60% 48.61%,
      61% 48.66%,
      62% 48.99%,
      63% 49.59%,
      64% 50.43%,
      65% 51.52%,
      66% 52.8%,
      67% 54.27%,
      68% 55.87%,
      69% 57.58%,
      70% 59.34%,
      71% 61.12%,
      72% 62.87%,
      73% 64.55%,
      74% 66.12%,
      75% 67.54%,
      76% 68.78%,
      77% 69.81%,
      78% 70.59%,
      79% 71.12%,
      80% 71.37%,
      81% 71.35%,
      82% 71.06%,
      83% 70.49%,
      84% 69.67%,
      85% 68.61%,
      86% 67.34%,
      87% 65.89%,
      88% 64.3%,
      89% 62.61%,
      90% 60.85%,
      91% 59.07%,
      92% 57.31%,
      93% 55.62%,
      94% 54.04%,
      95% 52.6%,
      96% 51.34%,
      97% 50.29%,
      98% 49.48%,
      99% 48.92%,
      100% 48.64%
    );
    background-color: #2f799f;
    // width: 100%;
    // height: 100%;
    // position: absolute;
    // top: 0;
    // right: 0;
  }
}
